<header class="header">
  <div class="header-content">
    <div class="header-left">
      <div class="logo-placeholder">
        <img src="assets/images/logos/logo-lacardio.svg" alt="laCardio Logo" class="logo-image" />
      </div>
    </div>
    
    <div class="header-right">
      <nav class="header-nav">
        <a (click)="navigateTo('/roles')" class="nav-link" [class.active]="isActiveRoute('/roles')">Roles</a>
        <a (click)="navigateTo('/state')" class="nav-link" [class.active]="isActiveRoute('/state')">Estado</a>
        <a (click)="navigateTo('/request-type')" class="nav-link" [class.active]="isActiveRoute('/request-type')">Tipo de Solicitud</a>
        <a (click)="navigateTo('/frequent-question')" class="nav-link" [class.active]="isActiveRoute('/frequent-question')">Pregunta Frecuente</a>
      </nav>
      
      <div class="user-menu">
        <button class="user-button" (click)="toggleDropdown()">
          <span class="user-name">{{ user?.firstName }} {{ user?.lastName }}</span>
          <span class="dropdown-arrow">▼</span>
        </button>
        
        <div class="dropdown-menu" *ngIf="showDropdown">
          <a (click)="logout()" class="dropdown-item">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</header>

