.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import './core/constants/colors.scss';

header {
  background-color: $color-primary-blue;
  color: $color-text-light;
  padding: 1rem;
  @include brand-shadow(0.1);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

main {
  flex: 1;
  padding: 2rem;
}

main.no-header {
  padding: 0;
}

