@import '../../../core/constants/colors.scss';
@import '../../../core/constants/typography.scss';

.request-type-form-modal {
  padding: 1.5rem;
  min-width: 600px;
}

.modal-title {
  margin: 0 0 1.5rem 0;
  font-size: $font-size-h4;
  font-weight: $font-weight-semibold;
  color: $color-text-primary;
  font-family: $font-family-base;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: $color-text-primary;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid $color-border;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: $font-family-base;
  resize: vertical;

  &.error {
    border-color: $color-error;
  }
}

textarea.form-control {
  min-height: 100px;
}

.form-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.error-message {
  color: $color-error;
  font-size: $font-size-small;
  margin-top: 0.25rem;
}

